

#popular-activities{
    padding: 2rem;
    display: flex;
    position: relative;
    margin: 2rem auto;
    justify-content: center;
    width:fit-content;
    
}
.activity-container{
    margin: 2rem;
    width: 30%;
    
}
.activity-stats {
    display: flex;
    
}
.activity-stats > p{
    margin-right: 1rem;
}
.activity-description{
    margin-top: 1rem;
    text-wrap: pretty;
    line-height: 130%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tags{
    display: flex;
    position: absolute;
    bottom: 45px;
    
}
.tags > p{
    margin-right: 1rem;
    background-color: #4285f4;
    color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popular-btn-r{
    position: absolute;
    top: 210px;
    right: 140px;
}
.popular-btn-l{
    position: absolute;
    top: 210px;
    left: 130px;
}
.popular-btn-l,
.popular-btn-r{
    padding: 1.25rem;
    border-radius: 100%;
    border: none;
    background-color: #4285f4;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.new-activity-btn{
   position: absolute;
   background-color: #4285f4;
   border: none;
   color: white;
   border-radius: 1.5rem;
   left: 46%;
   bottom: 50px;
   padding: 18px;
   font-size:1.3rem
}
.new-activity-btn > a{
    color: white;
    text-decoration: none;
}
.new-activity-btn > a:visited{
    color: white;
    text-decoration: none; 
}
h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    line-height: 160%
}