#dropdown{
    width: 40%;
    background-color: gray;
    border: 1px lightgreen solid;
}
.part{
    border: 1px lightgreen solid;
}
#input{
    width: 40%;
}

#head{
    font-size: 150%;
}

#reset{
    color: white;
    background-color: black;
    border: aqua solid 2px;
}