/* Admin page og navigasjon */

.adminHeading {
    margin: 25px;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--brown-color);
    font-size: 2.5rem;
}

#adminNavigation {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#adminNavigation > button {
    background-color: burlywood;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#adminNavigation > button:hover {
    cursor: pointer;
    color: brown;
}

/* User registration page */

#userRegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px auto;
    width: 325px;
    padding: 25px 40px 25px;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: var(--regular-text);
    color: var(--brown-color);
}

#userRegistrationForm > input {
    padding: 5px;
    font-size: 1.1rem;
}
#userRegistrationForm > label{
    font-weight: 600;
}
#userRegistrationForm > p {
    font-size: 12px;
    font-style: italic;
}

#password-error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem !important;
    font-style: normal !important;
    
}

#userRegistrationForm > button {
    width: fit-content;
    padding: 6px 9px;
    letter-spacing: 1px;
    font-size: 1.0rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
    transition:  transform 0.2s ease-in-out;
}

#userRegistrationForm > button:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: var(--contrast-accent);
}

/* Opprett avstemning OG nytt møte skjema*/

#votePageForm, #meetingPageForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px auto;
    width: 325px;
    padding: 25px 40px 25px;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: var(--regular-text);
    color: var(--brown-color);
}

#votePageForm > input, #meetingPageForm > input {
    padding: 5px;
    font-size: 1.1rem;
    font-family: var(--regular-text);
}
#votePageForm > label, #meetingPageForm > label {
    font-weight: 600;
}
#votePageForm button, #meetingPageForm button {
    width: fit-content;
    padding: 6px 9px;
    letter-spacing: 1px;
    font-size: 1.0rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
    transition:  transform 0.2s ease-in-out;
    margin-top: 9px;
    cursor: pointer;
}

#votePageForm .btn-container, #meetingPageForm .btn-container {
  display: flex;
  gap: 10px;
}

#votePageForm  button:hover, #meetingPageForm button:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: var(--contrast-accent);
}

#voteCreatedMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    color: green;
}

/* ========= brukerRedigering ======== */
#centerArea{
    text-align: center;
    margin: 25px auto;
  }
.lists {
    display: inline-block;
    border:black solid 1.1px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #4A3728;
    font-family: var(--regular-text);
  }
  .lists th{
    padding: 25px 40px;
    text-align: start;
    font-size: 1.4rem;
  }
  .partOfList{
    border-top: black solid 0.05rem;
    border-radius: 0.05rem;
    padding: 15px 1rem 15px 40px ;
    display: flex;
    width: 23rem;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }
  .username-text:hover {
    text-decoration: underline;
  }
  #editButton {
    /* background-color: darkblue; */
    background-color: var(--contrast-accent);
    font-size: 1.25rem;
    color: white;
    border: none;
    padding: 5px;   
    border-radius:8px;
  }
  #deleteButton {
    /* background-color: darkred; */
    background-color: var(--alert);
    font-size: 1.25rem;
    color: white;
    border: 0px;
    padding: 5px 7px; 
    border-radius:8px;
  }

  #popup{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30%;
    right: 30%;
    top: 30%;
    padding: 2rem 4.5rem;
    margin: 25px auto;
    background-color: #F7F3E8;
    color: var(--brown-color);
    border: black solid 0.05rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-family: var(--regular-text);
    width: fit-content;
    box-shadow:  2px 3px 9px rgba(0, 0, 0, 0.4);
  }
  #popup input{
    padding: 8px;
    width: 100%;
    font-size: 17px;
  }
  #popup label{
    font-weight: 600;
    margin-top: 1.5rem;
    line-height: 
    160%;
  }
  #popup .btn-container{
    margin-top: 1.5rem;
  }
  #completeEditButton{
    background-color:#B36A38;
    font-size: 1.25rem;
    color: white;
    border:#F7F3E8 solid 0.5rem;
    border-radius: 1rem;
    width: 8rem;
    padding: 5px 0;
    cursor: pointer;
    
  }
  #completeEditButton:hover{
    background-color: var(--contrast-accent);
  }
  #stopEditingButton{
    background-color:darkred;
    font-size: 1.25rem;
    color: white;
    border:#F7F3E8 solid 0.5rem;
    border-radius: 1rem;
    width: 8rem;
    padding: 5px 0;
    cursor: pointer;
    
  }
  #stopEditingButton:hover{
    background-color: var(--alert);
  }
  #newName{
    width: 90%;
  }
  #newPassword{
    width: 90%;
  }
 
  /* New meeting page*/
 