/* Admin page og navigasjon */

.adminHeading {
    margin: 25px;
    text-align: center;
}

#adminNavigation {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#adminNavigation > button {
    background-color: burlywood;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#adminNavigation > button:hover {
    cursor: pointer;
    color: brown;
}

/* User registration page */

#userRegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px auto;
    width: 325px;
    padding: 25px 40px 25px;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#userRegistrationForm > input {
    padding: 5px;
    font-size: 1.1rem;
}

#userRegistrationForm > p {
    font-size: 1.1rem;
    font-style: italic;
}

#password-error {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem !important;
    
}

#userRegistrationForm > button {
    width: fit-content;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

#userRegistrationForm > button:hover {
    cursor: pointer;
}