* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root{
    /* COLORS */
    --background-color: #F7F3E8;
    --brown-color: #4A3728; 
    --brown-lighter: #71573E; 
    --accent-color: #B36A38; 
    --contrast-accent: #7C9862; 
    --alert: #D14C3C; 

    /* FONTS */
    --logo-font: "Leckerli One", cursive;
    --heading-font: "Luxurious Roman", serif;
    --regular-text: "Inter", sans-serif;
}
body{
    background-color: var(--background-color);
}
/* =============== HEADER =================*/
header {
  background-color: var(--brown-color);
  height: 100px;
  color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: relative;
}
header > div{
    display: flex;
    align-items: center;
}
header > div >.avatar{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
header > h1{
    font-family: var(--logo-font);
    font-size: 2.3rem;
    font-weight: 400;
    cursor: pointer;
}
header > div > .fa-bars {
  margin-right: 1.5rem;
  font-size: 1.89rem;
  margin-top: 2px;
  cursor: pointer;
}
header > div > button{
    padding: 10px 19px;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 0.5px;
}
header > div > button:hover{
    background-color: var(--contrast-accent);
    transition: 0.3s;
}
#logIn {
  position: absolute;
  background-color: burlywood;
  border-radius: 1rem;
  top: 4.8rem;
  border: solid 1px var(--accent-color);
  padding: 1.5rem;
  right: 0.2rem;
  display: flex;
  flex-direction: column;
  color: var(--brown-color);
}
#logIn > h3{
    font-size: 1.5rem;
    font-family: var(--heading-font);
}
#logIn > label {
  margin-top: 1rem;
  font-weight: 800;
  font-family: var(--regular-text);
}
#logIn > input{
padding: 6px 4px;
border-radius: 5px;
border: solid 1.5px var(--brown-color);
font-size: 16px;

}

#logIn > button {
  margin-top: 1.5rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 1rem;
  font-size: 17px;
  cursor: pointer;
  
}
#logIn > button:hover{
    background-color: var(--contrast-accent);
    transition: 0.3s;
}
#logIn .fa-xmark{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
#loginErrorMessage{
    color: var(--alert);
}
#menu{
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 1rem;
    border: solid 2px var(--accent-color);
    right: 0.4rem;
    top: 4.8rem;
    color: white;
}
#menu > h3{
    font-size: 1.8rem;
    padding: 1rem;
    font-family: var(--heading-font);
}
#menu ul{
    list-style-type: none;
}
#menu > ul >li{
    border-top: solid 1px var(--accent-color);
    width: 100%;
    padding: 0.8rem 4rem;
    text-align: center;
    font-size: 1.3rem;
    /* background-color: rgb(245, 224, 200); */
    background-color: burlywood;
    color: var(--brown-color);
    font-family: var(--regular-text);
    font-weight: 600;
}
#menu > ul >li:hover{
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}
#menu > .fa-xmark{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.hidden {
  
  display: none !important;
  
}



