.profile-table{
  border: var(--accent-color) 2px solid;
  width:90%;
  border-spacing: 0px;
  border-radius: 1rem;
  
}
.profile-table th{
  text-align: start;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 2rem;
  font-family: var(--heading-font);
  border-radius: 8px 8px 0px 0px;
  padding: 1rem;
}
.profile-table td{
  padding: 1rem;
  font-family: var(--regular-text);
  font-size: 18px;
}
#favs{
  margin-top: 3rem;
}

.tablePart{
  padding: 0.65rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
#undertext{
    color: brown;
    font-size: 0.75rem;
    text-align: center;
}
#profileHeader{
    font-size: 2.75rem;
    /* text-align: center; */
    margin-bottom: 1rem;
    font-family: var(--heading-font);
    color: var(--brown-color);

}
#allReadDiv{
    float: left;
    border: black solid 0.05rem;
    width: 50%;
}

#profileLeftSide{
    float: left;
    text-align: center;
    width: 50%;
}
#profileRightSide{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    
}
#profileRightSide{

} 
#logoutButton{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 10rem;
    height: 3rem;
    color: brown;
    font-size: 2rem;
    background-color: blanchedalmond;
    border: 1px brown solid;
    border-radius: 0.5rem;
}

.removeButton{
  padding: 0.5rem; 
  border: 1px brown solid;
  border-radius: 0.5rem;
  /* background-color: blanchedalmond; */
  background-color: var(--alert);
  color: white;
  cursor: pointer;
}

#profileAvatar{
    border-radius: 50%;
    object-fit:cover;
    cursor: pointer;
}

/* AVATAR POPUP */
#avatarPopup{
  visibility: hidden;
  position: absolute;
  display: inline-block;
  left: 20%;
  right: 10%;
  margin: 25px auto;
  background-color: #F7F3E8;
  border:black solid 0.05rem;
  width: 65%;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  color:#B36A38;
}
#avatarPopup img{
    width: 230px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
#popupHeader{
  text-align: center;
}

.avtImg{
  height:33%; 
  width:33%
}